@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome</h1>

               @foreach (var item in User.Claims)
               {
                   <h1>@item.Type</h1>
                   <h3>@item.Value</h3>
               }
    }

</div>
